/*--------Global---------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 100;
}

body {
    width: 60%;
    margin: auto;    
    /*background-image: url(images/intro.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.white {
    color: white;
}
h1 {
    font-size: 80px;
    font-weight: 700;
    color: #ffcc59;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: #17191A;
}

h5 {
    font-size: 20px;
    margin-top: 10px;
    color: #17191A;
}

p {
    columns: #8f9ea5;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}


/*--------Nav---------*/

.nav {
    display: flex;
    align-items: center;
    height: 100px;

}

.logo, .navIcons  {
    flex: 1;
}
.navIcons {
    text-align: right;
}

.navIcons a:hover {
    color: #ffcc59;
}

.navIcons li, .logo a, .logo img {
    display: inline-block;
    vertical-align: middle;
}

.navIcons a {
    margin-left: 40px;   
    text-decoration: none; 
    list-style-type: none;
}

.logo a {
    margin-left: 0px;
}

/*--------Landing---------*/

.landing {
    height: 70vh;
    position: relative;
    background-image: url(images/intro1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;    
}

.landingWrapper {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 100px;
}

ul {
    list-style: none;
    margin-top: 50px;
    line-height: 30px;
}

.landingL {
    margin-top: 7em;
  
}
/*.landingR {
    margin-top: 8em;
}*/

.askme {
    text-align: center;
    padding-top: 30px;
    /*margin-top: 30px;*/
    margin-bottom: 20px;
    height: 150px;
    /*background-color: #8f9ea5;*/
    
}

.button  {
    display: inline-block;    
    margin-top: 40px;
}



.container {
    
    position: relative;
}

.skills {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 2em;
}

.skills p {
    margin-bottom: 30px;    
}

.skills img {
    width: 40px;
    margin: 0 15px;
}




.about, .headline {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.about h2 {
    text-align: justify;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.portfolio {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.container {
    margin-bottom: 50px;
}

#contact . .container {
    padding: 120px 15px 160px 15px;
}

.container h2 {
    text-align: center;
}

.container p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}


.socials
{
	width:100%;
	text-align: center;
	
}

.socialdivs
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 200px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #ffcc59;
}

.yt
{
	width: 200px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #ffcc59;
}

.tw
{
	width: 200px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #ffcc59;
}

.gplus
{
	width: 200px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #ffcc59;
}

.info {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.contact p {
    margin-bottom: 50px;
}

.orangebutton {
    background-color: #ffcc59;
    padding: 15px;
    color: white;
    font-size: 19px;
    text-decoration: none;
    border-radius: 5px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

.orangebutton:hover {
    background-color: #196499;
}

.text-center {
    text-align: center !important;
}

.container {
    max-width: 1140px;
}

#contact textarea {
    height: 150px;
    margin-bottom: 45px;
    resize: none;
}

#contact input, #contact textarea {
    border-bottom: 2px solid #ffcc59;
    margin-bottom: 30px;
}

.form-control {
    width: 100%;
}

.gallery-box {
    transition: all 0.2s ease-in-out;
}

.gallery-box:hover {
    transform: scale(0.9);
}

@media only screen and (max-width: 991px) {
    .landing .landingL {
        width:100%;        
    }

    .container .headline img {
        margin-top: 10%;
        width: 96%;
    }

    .container .about h2{
        margin-top: 2%;
        width: 96%;
    }
    footer .socials .socialdivs {
        margin-top: 2%;
        width: 96%;
    }
}

@media only screen and (max-width: 768px) {
    .landing {
        width: 96%;
        margin: 30px auto 10px auto;
        text-align: left;
    }
    footer .socials {
        width: 90%;
        margin: 30px auto 10px auto;
        text-align: left;
    }

}